<div class="min-w-screen 
    min-h-screen 
    bg-teal-900
    flex
    items-center
    justify-center
    px-5
    py-5">

    <div class="w-full
        mx-auto
        rounded-xl
        shadow-xl
        text-gray-800
        relative
        overflow-hidden" style="max-width: 350px;">

        <h1 class="text-center text-white py-10 text-3xl font-bold"> {{title}} </h1>

        <!-- Calculator Screen -->
        <div class="w-full
            h-40
            bg-gradient-to-b
            from-gray-800
            to-gray-700
            text-right">

            <!-- Function Screen -->
            <div class="w-full
                py-5
                px-6
                text-2xl
                text-white
                font-thin"> {{calFunc}} 
            </div>

            <!-- number screen -->
            <div class="w-full
                py-5
                px-6
                text-6xl
                text-white
                font-thin"> {{calValue | number}} 
            </div>

        </div>
        <!-- End of the Calculator Screen -->

        <!-- Calculator Button Area -->
        <div class="w-full
            bg-gradient-to-b
            from-red-500
            to-red-800">

            <!-- first button row -->
            <div class="flex w-full">

                <!-- clear button -->
                <div class="w-2/4 border-r border-b border-red-400">
                    <button class="w-full
                        h-16
                        outline-none
                        hover:bg-red-700 hover:bg-opacity-20
                        text-white
                        text-opacity-50
                        text-xl
                        font-light" (click)="onClickValue('c' , 'func')"> C </button> 
                </div>

                <!-- Precentage Button -->
                <div class="w-1/4 border-r border-b border-red-400">
                    <button class="w-full
                        h-16
                        outline-none
                        hover:bg-red-700 hover:bg-opacity-20
                        text-white
                        text-opacity-50
                        text-xl
                        font-light" (click)="onClickValue('%' , 'func')"> % </button> 
                </div>

                <!-- Divide Button -->
                <div class="w-1/4 border-r border-b border-red-400">
                    <button class="w-full
                        h-16
                        outline-none
                        hover:bg-red-700 hover:bg-opacity-20
                        text-white
                        text-opacity-50
                        text-xl
                        font-light" (click)="onClickValue('/' , 'func')"> / </button> 
                </div>
            </div>

            <!-- Second button row -->
            <div class="flex w-full">
                
                <div class="w-1/4 border-r border-b border-red-400">
                    <button class="w-full
                        h-16
                        outline-none
                        hover:bg-red-700 hover:bg-opacity-20
                        text-white
                        text-opacity-50
                        text-xl
                        font-light" (click)="onClickValue('7' , 'num')"> 7 </button> 
                </div>
                
                <div class="w-1/4 border-r border-b border-red-400">
                    <button class="w-full
                        h-16
                        outline-none
                        hover:bg-red-700 hover:bg-opacity-20
                        text-white
                        text-opacity-50
                        text-xl
                        font-light" (click)="onClickValue('8', 'num')"> 8 </button> 
                </div>

                <div class="w-1/4 border-r border-b border-red-400">
                    <button class="w-full
                        h-16
                        outline-none
                        hover:bg-red-700 hover:bg-opacity-20
                        text-white
                        text-opacity-50
                        text-xl
                        font-light" (click)="onClickValue('9', 'num')"> 9 </button> 
                </div>

                <div class="w-1/4 border-r border-b border-red-400">
                    <button class="w-full
                        h-16
                        outline-none
                        hover:bg-red-700 hover:bg-opacity-20
                        text-white
                        text-opacity-50
                        text-xl
                        font-light" (click)="onClickValue('*', 'func')"> * </button> 
                </div>
            </div>

            <!-- Third button row -->
            <div class="flex w-full">
                
                <div class="w-1/4 border-r border-b border-red-400">
                    <button class="w-full
                        h-16
                        outline-none
                        hover:bg-red-700 hover:bg-opacity-20
                        text-white
                        text-opacity-50
                        text-xl
                        font-light" (click)="onClickValue('4', 'num')"> 4 </button> 
                </div>
                
                <div class="w-1/4 border-r border-b border-red-400">
                    <button class="w-full
                        h-16
                        outline-none
                        hover:bg-red-700 hover:bg-opacity-20
                        text-white
                        text-opacity-50
                        text-xl
                        font-light" (click)="onClickValue('5', 'num')"> 5 </button> 
                </div>

                <div class="w-1/4 border-r border-b border-red-400">
                    <button class="w-full
                        h-16
                        outline-none
                        hover:bg-red-700 hover:bg-opacity-20
                        text-white
                        text-opacity-50
                        text-xl
                        font-light" (click)="onClickValue('6', 'num')"> 6 </button> 
                </div>

                <div class="w-1/4 border-r border-b border-red-400">
                    <button class="w-full
                        h-16
                        outline-none
                        hover:bg-red-700 hover:bg-opacity-20
                        text-white
                        text-opacity-50
                        text-xl
                        font-light" (click)="onClickValue('-', 'func')"> - </button> 
                </div>
            </div>

            <!-- fourth button row -->
            <div class="flex w-full">
                
                <div class="w-1/4 border-r border-b border-red-400">
                    <button class="w-full
                        h-16
                        outline-none
                        hover:bg-red-700 hover:bg-opacity-20
                        text-white
                        text-opacity-50
                        text-xl
                        font-light" (click)="onClickValue('1', 'num')"> 1 </button> 
                </div>
                
                <div class="w-1/4 border-r border-b border-red-400">
                    <button class="w-full
                        h-16
                        outline-none
                        hover:bg-red-700 hover:bg-opacity-20
                        text-white
                        text-opacity-50
                        text-xl
                        font-light" (click)="onClickValue('2', 'num')"> 2 </button> 
                </div>

                <div class="w-1/4 border-r border-b border-red-400">
                    <button class="w-full
                        h-16
                        outline-none
                        hover:bg-red-700 hover:bg-opacity-20
                        text-white
                        text-opacity-50
                        text-xl
                        font-light" (click)="onClickValue('3', 'num')"> 3 </button> 
                </div>

                <div class="w-1/4 border-r border-b border-red-400">
                    <button class="w-full
                        h-16
                        outline-none
                        hover:bg-red-700 hover:bg-opacity-20
                        text-white
                        text-opacity-50
                        text-xl
                        font-light" (click)="onClickValue('+', 'func')"> + </button> 
                </div>
            </div>


            <!-- Fifth button row -->
            <div class="flex w-full">
                
                <div class="w-1/4 border-r border-b border-red-400">
                    <button class="w-full
                        h-16
                        outline-none
                        hover:bg-red-700 hover:bg-opacity-20
                        text-white
                        text-opacity-50
                        text-xl
                        font-light" (click)="onClickValue('0', 'num')"> 0 </button> 
                </div>
                
                <div class="w-1/4 border-r border-b border-red-400">
                    <button class="w-full
                        h-16
                        outline-none
                        hover:bg-red-700 hover:bg-opacity-20
                        text-white
                        text-opacity-50
                        text-xl
                        font-light" (click)="onClickValue('.', 'num')"> . </button> 
                </div>

                <div class="w-2/4 border-r border-b border-red-400">
                    <button class="w-full
                        h-16
                        outline-none
                        hover:bg-red-700 hover:bg-opacity-20
                        text-white
                        text-opacity-50
                        text-xl
                        font-light" (click)="onClickValue('=', 'func')"> = </button> 
                </div>
            </div>
        </div>
        <!-- End of the Calculator Button Area -->
    </div>
</div>